<footer class="site-footer clearfix">
    <div class="copyright">
         <section class="copyright">Copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; <a href="/privacy-policy">Privacy Policy</a> &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a href="http://ghost.org">Ghost</a>.
         <p>Interested in working together? <a href="http://www.duoconsulting.com/#contact">Get in touch.</a></p></section>
    </div>
    <div class="rss-feed"><a href="{{@blog.url}}/rss/" title="Subscribe to RSS"><span class="icon-stack"><i class="icon-circle icon-stack-base"></i><i class="icon-rss icon-light"></i></span></a></div>
</footer>